<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.he.elm.mapper.MenuMapper">
    <select id="getMenusByUserId" resultType="com.he.elm.common.pojo.Menu">
        select m.*
        from menu as m
                 left join identity_menu as ident_menu on m.id = ident_menu.menu_id
                 left join identity as ident on ident_menu.identity_id = ident.id
                 left join user_identity as us_ident on ident.id = us_ident.identity_id
                 left join user as us on us.id = us_ident.user_id
        where us.id = #{userId}
    </select>
    <select id="selectMenuByURI" resultType="com.he.elm.common.pojo.Menu">
        select *
        from menu
        where path=#{uri}
    </select>
</mapper>
